h1 {
    text-align: center;
    background-color: #C4C4C4;
}

#espacio_en_blanco{
    height: 113px;
    background-color: white;
    color: red ;
}
h2.Parrafos{
    height: 30px;
    top: 381px;
    background-color: #C4C4C4;
    
}
span.datos{
    position: relative;
    width: 395.62px;
    height: 17px;
    left: 12.45px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    font-feature-settings: 'cpsp';
    color: #005677;
}
#negrita{
    position: relative;
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}
#negrita_v2{
    position: relative;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}
.sacar_negrita{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
    line-height:12.7px;
    
}

#otro_espacio_en_blanco{
    height: 147px;
    background-color: white;
}

#Pie{
    position: relative;
    height: 37px;
    left: 0px;
    background-color: #005677;
    text-align: center;
 
}
#textopie{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    color: #FFFFFF;
    text-align: center;
    vertical-align: text-bottom;
}

#imginsta{
    vertical-align: text-bottom;
    position: relative;
    width: 20px;
    height: 20px;
    left: 26px;
}
#imglink{
    vertical-align: text-bottom;
    position: relative;
    width: 20px;
    height: 20px;
    left: 52px;
}